body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  user-select: none;
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: rgb(247, 125, 10);
  color: #ffffff;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  cursor: pointer;
}

.navbar-brand {
  mix-blend-mode: multiply;
}

ul {
  display: flex;
  gap: 28px;
  list-style: none;
  align-items: center;
}
ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: large;
}

ul a:hover {
  color: black;
}

.navbutton {
  background-color: rgb(247, 125, 10);
  color: #ffffff;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  border: 2.5px solid #ffffff;
  cursor: pointer;
  margin-right: 20px;
}

.navbutton:hover {
  background-color: rgb(247, 125, 10);
  color: black;
  border: 1px solid black;
}

.main-section {
  height: 92vh;
  width: 100%;
  display: flex;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
}

.text {
  height: 92vh;
  width: 40rem;
  text-align: left;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.minitext {
  margin-bottom: 5rem;
  margin-left: 10rem;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.minitext h1 {
  font-size: 2rem;
}

.btn {
  height: 4rem;
  margin-top: -5vh;
  width: 10rem;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(255, 15, 15);
  border: 4px solid white;
  border-radius: 10px;
  color: rgb(240, 243, 243);
}

.btn:hover {
  color: black;
  border: 4px solid black;
}

.minitext span {
  color: red;
}

.minitext p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bolder;
}

.image {
  height: 92vh;
  margin-left: 5rem;
  text-align: right;
  display: flex;
}

.products {
  display: grid;
  height: 30rem;
  grid-template-columns: repeat(auto-fix, minmax(320px, 1fr));
  background: radial-gradient(
    circle at 85.4% 50.8%,
    rgb(14, 72, 222) 0%,
    rgb(3, 22, 65) 74.2%
  );
}

.miniproducts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
}

.card {
  width: 60vh;
  height: 75vh;
  border-radius: 10px;
  background-color: rgb(21, 33, 41);
  color: white;
  cursor: pointer;
  margin-left: 35px;
  border: 2px;
  box-shadow: 3px 3px 3px;
}

.card:hover {
  transform: scale(1.04);
  transition: 5ms;
}

.iphonepng1 {
  margin-top: -1rem;
  height: 17rem;
  width: 20rem;
}

.iphonepng2 {
  margin-top: 0.5rem;
  margin-left: 0.7rem;
  height: 15.5rem;
  width: 19rem;
}

.iphonepng3 {
  margin-left: -2rem;
  margin-top: -1rem;
  height: 17rem;
  width: 25rem;
}

.contant {
  margin-left: 2.5rem;
  margin-top: -1rem;
}

.contant h3 li {
  margin-left: 3.7rem;
  margin-bottom: -17px;
}

.contant button {
  margin-left: 2.7rem;
  font-weight: bolder;
  background-color: rgb(255, 0, 13);
  border: 2px solid rgb(3, 1, 1);
  color: rgb(0, 0, 0);
  border-radius: 20rem;
  height: 2.5rem;
  width: 10rem;
}

.contant button:hover {
  border-radius: 50rem;
  color: white;
  border: 2px solid yellow;
  background-color: rgb(0, 0, 0);
  font-weight: bolder;
}

.review {
  display: grid;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

.maindiv {
  height: 20rem;
  width: 20rem;
  color: white;
  margin-right: 30px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 20px;
}

.maindiv:hover {
  transform: scale(1.04);
  transition: 5ms;
}

.maindiv h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
.maindiv p {
  text-align: justify;
  margin: 0px 40px;
}

.contactus {
  height: 60vh;
  background-color: rgb(21, 33, 41);
  color: white;
  width: 100%;
  display: flex;
}

.st {
  height: 15rem;
  width: 50%;
}

.box {
  margin-top: 6rem;
  margin-left: 12rem;
}

.min1 {
  display: flex;
  margin-top: 0%;
}

.nd {
  height: 15rem;
  width: 50%;
}

.box2 {
  margin-top: 5rem;
}

.box2 p {
  margin-right: 8rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social {
  display: flex;
  align-items: center;
}
.social img {
  margin-right: 30px;
}
